<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bot</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/style.x60084.css"/>-->
</head>
<body>
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">My Bot</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/login">Log In</a>
            <a class="nav-link" href="/signup">Sign Up</a>
        </nav>
    </div>
</header>

<main>
    <h1>Hello, it's me, your personal helper!</h1>
    <h3>Create an account to start our conversation</h3>
    <p class="lead"><a href="/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a></p>
</main>

<footer class="mt-auto text-white-50">
    <p>PR laboratory work Nr.2 by Petranis Ana</p>
</footer>
</body>
</html>